bin/
obj/
_buildvalidate/

.vs/
.vscode/
.idea/

node_modules/
dist/
dist-ssr/

*.log
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

backend/_buildvalidate/
backend/**/bin/
backend/**/obj/
backend/**/uploads/
backend/**/uploads/.keys/

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

.DS_Store
Thumbs.db